@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
 } 

/* */
body {
	margin:0;
	background-size:cover;
	color:#fff;
	font-family:'Noto Sans KR', 'Spoqa Han Sans', 'malgun gothic', dotum;
	font-size:15px;
	line-height:2.2;
	text-align:justify;
}
a	{ color:#999; text-decoration: none }

::-webkit-scrollbar		 {width:7px}
::-webkit-scrollbar-track	{ background: rgba(0,0,0,.1); border-radius:1em }
::-webkit-scrollbar-thumb	{ background: rgba(200,200,200,.3); border-radius:1em }

		
::selection			{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }
::-moz-selection	{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }
::-webkit-selection	{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }

#wrap {
	position:relative;
    max-width: 750px;
    margin: 0 auto;
    height: 100%;
    border: 2em solid rgba(200,200,200,.3);
    border-radius: 2em;
    box-sizing: border-box;
}

section {
	position: relative;
	overflow-y: auto;
	height: calc(100% - 100px);
}
article {
	display:none;
	opacity:0;
	position:relative;
	top:50px;
	padding: 3em 3em 1em 3em;
}
p {
	position:relative;
	margin:0.5em 0;
}
menu {
	width:300px;
	padding:0;
	position:absolute;
	left:calc(50% - 150px);
	bottom:0;
	text-align:center;
	line-height:1;
}
menu li {
	display:inline-block;
	list-style:none;
	opacity:0.5;
}
menu li.active {
	opacity:1;
}
/* */
#passport {
	font-family: 'Roboto Condensed', 'Noto Sans KR', 'Spoqa Han Sans', 'malgun gothic', dotum;
}
#passport h3 { letter-spacing:1px }
#passport dl,
#passport div { display:inline-block; margin:0; font-size:13px; vertical-align:top; }
#passport dl { padding:0 2em; }
#passport dt { font-size:11px; line-height:1; }
#passport dd { margin:0 0 0.5em 0; }

#passport .star { float:right }

@media (max-width: 560px) {
	#wrap {
		height:calc(100% - 3em);
		margin:1em;
		padding:0.5em;
		border:1em solid rgba(200,200,200,.3);
	}
	article { padding:3em 1em 1em; }
	#passport .thumb	{ max-width:calc(100% - 162px) }
	#passport .thumb img { width:100% }
	#passport dl { width:135px; padding-right:0; box-sizing:border-box }
}
