@charset "utf-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(//cdn.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(https://use.fontawesome.com/releases/v5.0.13/css/all.css);
@font-face { 
  font-family: 'Noto Sans KR'; 
  font-style: normal; 
  font-weight: 400; 
  src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'), 
        url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype'); 
 } 

/* */
body {
	margin:0;
	background-size:cover;
	font-family:'Noto Sans KR', 'Spoqa Han Sans', 'malgun gothic', dotum;
	font-size:15px;
	line-height:2.2;
	text-align:justify;
}
a	{ color:#999; text-decoration: none }

::-webkit-scrollbar-track			{ background-color: #ceeaed; }
::-webkit-scrollbar-thumb			{ background: #4dbec8; }

::selection			{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }
::-moz-selection	{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }
::-webkit-selection	{ color:transparent; text-shadow: 0 0 2px #fff; transition: all 250ms ease-in; }

section:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	transform: scale(1.02);
}
section {
	overflow: hidden;
	position: relative;
}
article {
	display:none;
	opacity:0;
	position:relative;
	max-width:600px;
}
p {
	position:relative;
	margin:0.5em 0;
}
menu {
	padding:0;
	text-align:center;
}
menu li {
	display:inline-block;
	list-style:none;
	opacity:0.5;
}
/* */
#wrap {
	max-width:600px;
	margin:100px auto;
	padding:3em;
	border:2em solid rgba(200,200,200,.3);
	border-radius:2em;
}
#passport {
	top:50px;
	font-family: 'Roboto Condensed', 'Noto Sans KR', 'Spoqa Han Sans', 'malgun gothic', dotum;
}
#passport dl,
#passport div { display:table-cell; margin:0; font-size:13px; }
#passport dt { font-size:11px; line-height:1; }
#passport dd { margin:0 0 0.5em 0; }
